<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="header-desc">
    <ion-text class="text-center">
      <h3 *ngIf="isCategoria">{{ tes.catego.nomeCategoria }}</h3>
      <h3 *ngIf="!isCategoria">{{ tes.muni.nomeMunicipio }}</h3>
    </ion-text>

    <ion-searchbar (ionChange)="buscar($event)" color="teste" animated="true"
      placeholder="Buscar Lojas"></ion-searchbar>

  </div>


  <ion-list>
    <div *ngIf="isCategoria">
      <ion-item *ngFor="let loja of tes.catego.lojas | filtro: textoBuscar" 
      (click)="setOpen(true, loja.nome)">

        <ion-thumbnail item-left>
          <img src="{{loja.foto}}">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ loja.nome }}</h2>
          <p><ion-icon name="pricetags-outline"></ion-icon>
            Descontos de até {{ loja.descontoo }}, confira!
          </p>
        </ion-label>
      </ion-item>
    </div>
    
  </ion-list>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ loja.nome }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content >
       
        <ion-img src="{{ loja.foto }}" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>

        <ion-list class="info-modal">
          
          <ion-item>
            <ion-icon name="pricetags-outline"></ion-icon>
            <ion-label>
              <p>Descontos de até {{ loja.desconto }}%</p>
            </ion-label>
          </ion-item>
          
          <ion-item>
            <ion-icon icon-only name="location-outline"></ion-icon>
            <ion-label>
              
              <p>CEP: {{ loja.endereco.cep }}</p>
              <p>Bairro: {{ loja.endereco.bairro }}</p>
              <p>Cidade: {{ loja.endereco.cidade }}</p>
              <p>Estado: {{ loja.endereco.estado }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon  icon-only name="locate-outline"></ion-icon>
            <ion-label>
              <p>Como chegar lá?: </p>
            </ion-label>
          </ion-item>
          
        </ion-list>
        
        <ion-button href="https://api.whatsapp.com/send?phone={{loja.numero}}&amp;text=Eu%20quero%20descontos%20em%20produtos.%20Sou%20conveniado." color="green" expand="full">

          <ion-icon name="logo-whatsapp"></ion-icon>
          <p>Fale conosco</p>
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>



</ion-content>