<ion-header>
    <ion-toolbar>
  
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      
    </ion-toolbar>
</ion-header> 

<ion-content>

  <div class="header-desc">
    <ion-text class="text-center">
      <h3>{{ tes.catego.nomeCategoria }}</h3>
    </ion-text>

    <ion-searchbar (ionChange)="buscar($event)" color="teste" animated="true" placeholder="Buscar Lojas"></ion-searchbar>

  </div>


  <ion-list>
    <ion-item *ngFor="let loja of tes.catego.lojas | filtro: textoBuscar" >
      
      <ion-thumbnail item-left>
        <img
          src="{{loja.foto}}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ loja.nome }}</h2>
        <p><ion-icon name="pricetags-outline"></ion-icon>
          Descontos de até {{ loja.descontoo }}, confira!
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>