<ion-header #header class="toolbar-background">
  
  <ion-buttons >
    <ion-menu-button id="main-content"></ion-menu-button>
  </ion-buttons>
  
</ion-header>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Nome_App</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">Itens a serem adicionados ao menu.</ion-content>
</ion-menu>


<ion-content class="ion-padding" scrollEvents="true" appHideHeader [header]="header">

  <ion-searchbar animated="true" placeholder="Municípios Conveniados"></ion-searchbar>

  <ion-list lines="full">

    <ion-item no-lines>
      <ion-label><h2>Categorias</h2></ion-label>
    </ion-item>
    
        <div class="fixed">
          <div>
            <ion-item>
              <ion-avatar>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
            </ion-item>
          </div>
          
          <div>
            <ion-item>
              <ion-avatar >
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-avatar >
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-avatar >
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-avatar >
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-avatar >
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-avatar>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
            </ion-item>
          </div>

          <div>
            <ion-item>
              <ion-avatar>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
            </ion-item>
          </div>
          <div>
            <ion-item>
              <ion-avatar>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
            </ion-item>
          </div>
          <div>
            <ion-item>
              <ion-avatar>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
            </ion-item>
          </div>
          <div>
            <ion-item>
              <ion-avatar>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
            </ion-item>
          </div>
          <div>
            <ion-item>
              <ion-avatar>                
                  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
            </ion-item>
          </div>
        </div>
  </ion-list>
  
  <ion-list lines="full">
    <ion-item>
      <ion-label><h2>Municípios Disponíveis</h2></ion-label>
    </ion-item>
  
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card routerLink="/lojas">
            <img class="img-muni" alt="Silhouette of mountains" src="https://static.coalize.com.br/data/images/afogados-da-ingazeira-pe.jpg" />
            <ion-card-header>
              <ion-card-title>Afogados da Ingazeira - PE</ion-card-title>
              <ion-card-subtitle><ion-icon name="storefront-outline"></ion-icon> 99 lojas aqui </ion-card-subtitle>
            </ion-card-header>
          
          </ion-card>      
        </ion-col>
        <ion-col>
          <ion-card routerLink="/lojas">
            <img class="img-muni" alt="Silhouette of mountains" src="https://static.consolidesuamarca.com.br/data/images/sao-jose-do-egito-pe.jpg?18092019" />
            <ion-card-header>
              <ion-card-title>São José do Egito - PE</ion-card-title>
              <ion-card-subtitle><ion-icon name="storefront-outline"></ion-icon> 99 lojas aqui </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          
          <ion-card routerLink="/lojas">
            <img class="img-muni" alt="Silhouette of mountains" src="https://upload.wikimedia.org/wikipedia/commons/6/66/Serra_Talhada%2CPernambuco_-_Brasil.jpg" />
            <ion-card-header>
              <ion-card-title>Serra Talhada - PE</ion-card-title>
              <ion-card-subtitle><ion-icon name="storefront-outline"></ion-icon> 99 lojas aqui </ion-card-subtitle>
            </ion-card-header>
          </ion-card>        
  
        </ion-col>
        <ion-col>
          
          <ion-card routerLink="/lojas">
            <img class="img-muni" alt="Silhouette of mountains" src="https://4.bp.blogspot.com/-r5YUAi2IHiQ/V53csDFZKmI/AAAAAAAAB8g/JUEfEA5MtwkWP4QlyyX7-2teEbs1mr7PwCLcB/s1600/11813277_597210907088215_3515266790032273864_n.jpg" />
            <ion-card-header>
              <ion-card-title>Serra Branca - PB</ion-card-title>
              <ion-card-subtitle><ion-icon name="storefront-outline"></ion-icon> 99 lojas aqui </ion-card-subtitle>
            </ion-card-header>
          
          </ion-card>
  
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-card routerLink="/lojas">
            <img class="img-muni" alt="Silhouette of mountains" src="https://static.coalize.com.br/data/images/afogados-da-ingazeira-pe.jpg" />
            <ion-card-header>
              <ion-card-title>Afogados da Ingazeira - PE</ion-card-title>
              <ion-card-subtitle><ion-icon name="storefront-outline"></ion-icon> 99 lojas aqui </ion-card-subtitle>
            </ion-card-header>
          
          </ion-card>      
        </ion-col>
        <ion-col>
          <ion-card routerLink="/lojas">
            <img class="img-muni" alt="Silhouette of mountains" src="https://static.consolidesuamarca.com.br/data/images/sao-jose-do-egito-pe.jpg?18092019" />
            <ion-card-header>
              <ion-card-title>São José do Egito - PE</ion-card-title>
              <ion-card-subtitle><ion-icon name="storefront-outline"></ion-icon> 99 lojas aqui </ion-card-subtitle>
            </ion-card-header>
          
          </ion-card>
        </ion-col>
      </ion-row>
  
    </ion-grid>
  
  </ion-list>

</ion-content>
