<ion-header #header color="primary">

  <ion-buttons>
    <ion-menu-button id="main-content"></ion-menu-button>
  </ion-buttons>

</ion-header>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Clube de Vantagens</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">Itens a serem adicionados ao menu.</ion-content>
</ion-menu>


<ion-content scrollEvents="true" appHideHeader [header]="header">

  <div class="header-background">
    <ion-searchbar color="teste" class="searchbar-home" animated="true"
      placeholder="O que você está buscando?"></ion-searchbar>
  </div>
  <div>
    <ion-list lines="full">

      <ion-item no-lines>
        <ion-label>
          <h2 class="desc">Categorias</h2>
        </ion-label>
      </ion-item>

      <div class="fixed">
        <div>
          <ion-item>
            <ion-avatar slot="start" [routerLink]="['/lojas']">
              <ion-icon color="teste1" name="medkit-outline"></ion-icon>
              <span class="span-desc">Saúde</span>

            </ion-avatar>
          </ion-item>
        </div>

        <div>
          <ion-item>
            <ion-avatar [routerLink]="['/lojas']">
              <ion-icon name="headset-outline"></ion-icon>
              <span class="span-desc">Música</span>
            </ion-avatar>
          </ion-item>
        </div>

        <div>
          <ion-item>
            <ion-avatar [routerLink]="['/lojas']">
              <ion-icon name="storefront-outline"></ion-icon>
              <span class="span-desc">Mercado</span>

            </ion-avatar>
          </ion-item>
        </div>

        <div>
          <ion-item>
            <ion-avatar [routerLink]="['/lojas']">
              <ion-icon name="barbell-outline"></ion-icon>
              <span class="span-desc">Academia</span>
            </ion-avatar>
          </ion-item>
        </div>

        <div>
          <ion-item>
            <ion-avatar [routerLink]="['/lojas']">
              <ion-icon name="construct-outline"></ion-icon>
              <span class="span-desc">Serviços</span>
            </ion-avatar>
          </ion-item>
        </div>

        <div>
          <ion-item>
            <ion-avatar [routerLink]="['/lojas']">
              <ion-icon name="images-outline"></ion-icon>
              <span class="span-desc">Fotografia</span>
            </ion-avatar>
          </ion-item>
        </div>

        <div>
          <ion-item>
            <ion-avatar [routerLink]="['/lojas']">
              <ion-icon name="library-outline"></ion-icon>
              <span class="span-desc">Livrarias</span>
            </ion-avatar>
          </ion-item>
        </div>

        <div>
          <ion-item>
            <ion-avatar [routerLink]="['/lojas']">
              <ion-icon name="ticket-outline"></ion-icon>
              <span class="span-desc">Eventos</span>
            </ion-avatar>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-avatar [routerLink]="['/lojas']">
              <ion-icon name="musical-notes-outline"></ion-icon>
              <span class="span-desc">Bandas</span>
            </ion-avatar>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-avatar [routerLink]="['/lojas']">
              <ion-icon name="school-outline"></ion-icon>
              <span class="span-desc">Educação</span>
            </ion-avatar>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-avatar [routerLink]="['/lojas']">
              <ion-icon name="shirt-outline"></ion-icon>
              <span class="span-desc">Roupas</span>
            </ion-avatar>
          </ion-item>
        </div>
        <div>
          <ion-item>
            <ion-avatar [routerLink]="['/lojas']">
              <ion-icon name="print-outline"></ion-icon>
              <span class="span-desc">Copiadora</span>
            </ion-avatar>
          </ion-item>
        </div>
      </div>


      <ion-item no-lines>
        <ion-label>
          <h2 class="desc">Municípios Disponíveis</h2>
        </ion-label>
      </ion-item>


      <div class="fixed">
        <div>
          <ion-item>
            <ion-avatar>
              <ion-icon name="business-outline"></ion-icon>
              <span class="span-desc">Município</span>
            </ion-avatar>
          </ion-item>
        </div>

        <div>
          <ion-item>
            <ion-avatar>
              <ion-icon name="business-outline"></ion-icon>
              <span class="span-desc">Município</span>
            </ion-avatar>
          </ion-item>
        </div>

        <div>
          <ion-item>
            <ion-avatar>
              <ion-icon name="business-outline"></ion-icon>
              <span class="span-desc">Município</span>
            </ion-avatar>
          </ion-item>
        </div>

        <div>
          <ion-item>
            <ion-avatar>
              <ion-icon name="business-outline"></ion-icon>
              <span class="span-desc">Município</span>
            </ion-avatar>
          </ion-item>
        </div>

        <div>
          <ion-item>
            <ion-avatar>
              <ion-icon name="business-outline"></ion-icon>
              <span class="span-desc">Município</span>
            </ion-avatar>
          </ion-item>
        </div>

        <div>
          <ion-item>
            <ion-avatar>
              <ion-icon name="business-outline"></ion-icon>
              <span class="span-desc">Município</span>
            </ion-avatar>
          </ion-item>
        </div>

      </div>
    </ion-list>

  </div>
</ion-content>