* {
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

h1,
h3,
p {
  text-align: center;
}

ion-header, ion-toolbar, .menu-header {
  color: white;
  background-image: linear-gradient(to right, rgb(128, 0, 0) , rgb(211, 0, 0));  
}

.fixed div {
  height: 200px;
}

p.cat-muni {
  display: block;
}
.searchbar-home {
  color: black;
  padding: 20px;
  top: 150px;
}

ion-list, ion-item {
  top: 10px;
}

.desc {
  font-size: 20px;
  font-weight: bold;
}

.header-background {
  background: url('https://maispajeu.com.br/wp-content/uploads/2023/01/Clube-de-Vantagens-Mais-Pajeu.jpeg') no-repeat center center;;  
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  
  height: 230px;
  
}



h2 {
  font-size: 20px;
}

ion-item {
  display: block;
}

.fixed, ion-avatar {
  color: white;
  overflow: scroll;
  white-space: nowrap;
}

.fixed ion-avatar {
  margin: auto;
}

.fixed ion-avatar ion-icon {
  height: 80px;
  width: 80px;  
  padding-top: 30%;
  padding-right: 20%;
  padding-left: 20%;
}

.span-desc {
  color: white;
  font-size: 20px;
}

ion-content {
  font-family: Varela !important;

}

ion-avatar {
  --border-radius: 9px;
  height: 140px;
  width: 130px;
  
}

.fixed div {
  display: inline-block;
}


.img-muni {
  width: 100%;
  height: 120px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}
ion-header {
  color: white;
}
.afogados, .sao-jose, .tabira, .iguaracy, .tuparetama {
  font-size: 20px;
}

.fixed div ion-item ion-avatar {
  background-image: linear-gradient(to right, rgb(128, 0, 0) , rgb(211, 0, 0));  
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.fixed div ion-item ion-avatar ion-icon {
  height: 50px;
  margin: 0 auto;
  width: 50%;

}

#container a {
  text-decoration: none;
}