* {
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
h1, h3, p {
  text-align: center;
}

ion-header {
  background-color: red;
}
--ion-color-primary {
  color: rgba(255, 0, 0, 0.3);
  background-color: rgba(255, 0, 0, 0.3);
}
.searchbar-home {
  color: white;
  padding: 20px;
  top: 130px;
}

.header-background {
  background-image: url('https://www.stockvault.net/data/2020/11/21/280975/preview16.jpg')!important;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 200px;
}


h2 {
  font-size: 20px;
}

.fixed{
  overflow: scroll;
  white-space: nowrap;
}

.fixed ion-avatar {
  margin: auto;
}

.fixed ion-avatar ion-icon {
  height: 80px;
  width: 80px;
}

ion-content{ 
  font-family:Varela !important;
 
}

ion-avatar {
  --border-radius: 4px;
  height: 130px;
  width: 130px;
}

.fixed div {
  display: inline-block;
}


.img-muni {
  width: 100%;
  height: 120px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}